

.hero{
    height: 100vh;
    width: 100%;
    background-image: url(../img/bkgrd0.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     /* background: linear-gradient(to top, rgba(0,0,0,0)30%,rgba(0,0,0,1)),url(/img/bkgrd0.jpg); */
     filter: brightness(50%);
     position: relative;
}
p{
   color: #ffffff; 
   font-family: 'Poppins', sans-serif;
   font-size: 60px;
}  
.navbar{
    height: auto;
     max-width: 100%;
     box-shadow: 0px 1px  #ffffff ;
     z-index: 100%;
     position: absolute;
}
.nav-link{
   transition: all 1s;
}
.nav-link:hover {
   text-decoration: underline greenyellow;
}
/* .container-fluid{
    height: auto;
   max-width:  100%;
} */
.container-fluid p{
    font-family: 'Poppins', sans-serif;
   font-size: 28px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 24
}
li{
font-family: 'Great Vibes', cursive;
/* font-family: 'Poppins', sans-serif; */
font-style: italic;
font-size: 15px;
font-weight: 20px;
}
.left p, .row p, .final p{
   font-family: 'Poppins', sans-serif;
   font-size: 13px; 
}
.card{
   transition: all 0.2s;
}
.card :hover{
   transform: translate(2.s);
}